version: '3.8'

services:
  nut-server:
    image: ${NUT_SERVER_IMAGE}
    container_name: ${NUT_SERVER_CONTAINER_NAME}
    network_mode: host
    env_file: .env
    environment:
      - UPS_HOST=${NUT_SERVER_UPS_HOST}
      - UPS_PORT=${NUT_SERVER_UPS_PORT}
      - UPS_USER=${NUT_SERVER_UPS_USER}
      - UPS_PASSWORD=${NUT_SERVER_UPS_PASSWORD}
    volumes:
      - ${NUT_SERVER_VOLUME}
    restart: unless-stopped

  webnut:
    image: ${WEBNUT_IMAGE}
    container_name: ${WEBNUT_CONTAINER_NAME}
    network_mode: host
    env_file: .env
    depends_on:
      - nut-server
    environment:
      - UPS_HOST=${WEBNUT_UPS_HOST}
      - UPS_PORT=${WEBNUT_UPS_PORT}
      - UPS_USER=${WEBNUT_UPS_USER}
      - UPS_PASSWORD=${WEBNUT_UPS_PASSWORD}
    restart: unless-stopped