---
services:
  nebula-sync:
    image: ghcr.io/lovelaze/nebula-sync:latest
    container_name: nebula-sync
    environment:
      - PRIMARY=${PRIMARY}
      - REPLICAS=${REPLICAS}
      - FULL_SYNC=true
      - SYNC_CONFIG_NTP=true
      - CRON=0 * * * *
    restart: unless-stopped
networks: {}