.env
.env.*
!*.env.example

*.pem
*.key
*.crt
*.p12
*.csr

**/data/
**/volumes/
**/logs/
**/tmp/
**/cache/
*.log

*.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.~*

.vscode/
.idea/
*.code-workspace

newrelic-infra/newrelic-infra.yml

docker-compose.override.yml
*.pid

__pycache__/
*.pyc
dist/
build/
node_modules/
coverage/
website/
immichi/*
nginx/cloudflare/cloudflare.ini
nginx/secrets/*
nginx/cloudflare/*
nginx/certs/*
nginx/logs/*
uptimekuma/kuma.db-shm
uptimekuma/screenshots/*
uptimekuma/kuma.db-wal
uptimekuma/kuma.db
traefik/config/traefik.yaml
traefik/busybox
nginx/nginx-ui/app.ini
nginx/config/nginx.conf
nginx/nginx-ui/database.db
pingwatch.sh
setup_pingwatch.sh
pihole-EventHorizon/pihole/pihole/*
came-connect/hassio-cameconnect/
prometheus_grafana/prometheus/secrets/
