.env
.env.*
!*.env.example

*.pem
*.key
*.crt
*.p12
*.csr

**/data/
**/volumes/
**/logs/
**/tmp/
**/cache/
*.log

*.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.~*

.vscode/
.idea/
*.code-workspace

newrelic-infra/newrelic-infra.yml

docker-compose.override.yml
*.pid

__pycache__/
*.pyc
dist/
build/
node_modules/
coverage/
website/