---
services:
  traefik:
    image: traefik:latest
    container_name: traefik
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    environment:
      - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}
      - CF_DNS_PROPAGATION_TIMEOUT=600
      - CF_DNS_POLLING_INTERVAL=30
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/traefik.yaml:/etc/traefik/traefik.yaml:ro
      # - ./data/certs/cloudflare-acme.json:/var/traefik/certs:rw
      - ./data/certs/cloudflare-acme.json:/var/traefik/certs/acme.json:rw
    networks:
      - frontend
    restart: unless-stopped
  
  whoami:
    image: "traefik/whoami"
    container_name: "simple-service"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`whoami.localhost`)"
      - "traefik.http.routers.whoami.entrypoints=web"

networks:
  frontend:
    external: true

