# Strefa czasowa
TZ=

# Dostęp do panelu
RCLONE_USER=
RCLONE_PASS=

# Port wewnętrzny (w kontenerze) i zewnętrzny (na hoście)
RCLONE_INTERNAL_PORT=
# RCLONE_GUI_PORT=5572

# Ścieżki wolumenów na hoście
RCLONE_CONFIG_PATH=
RCLONE_DATA_PATH=