version: '3.8'

services:
  nginx:
    image: ${NGINX_IMAGE}
    container_name: ${NGINX_CONTAINER_NAME}
    volumes:
      - ${NGINX_CONF_PATH}:/etc/nginx/conf.d/default.conf:ro
      - ${NGINX_HTML_PATH}:/usr/share/nginx/html:ro
    labels:
      - traefik.enable=true
      - traefik.http.services.nginx.loadbalancer.server.port=80
      - traefik.http.routers.nginx.entrypoints=websecure
      - traefik.http.routers.nginx.rule=Host(`${NGINX_HOSTNAME}`)
      - traefik.http.routers.nginx.tls=true
      - traefik.http.routers.nginx.tls.certresolver=${TRAEFIK_CERTRESOLVER}
      - traefik.http.routers.nginx.service=nginx
    networks:
      - frontend
    restart: unless-stopped

networks:
  frontend:
    external: true